.followme{
    display: grid;
    align-items: center;
    background-color: rgb(3, 15, 43);
}

.follow-head h1{

    font-size: 50px;
    text-align: center;
}

.follow-head span{
    color: aqua;
}

.follow-me-list a{
    font-size: 18px;
    color: #ededed;
    text-decoration:none;
    font-weight: 500;
    transition: .3s;
}








.followme{
    height: 200px;
}







